:root {
  --primary: #e47124;
  --grey: #50514f;
  --secondary: #ff8737;
  --third: #fcf7ff;
  --fourth: #31e981;
  --fifth: #ffc559;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-color: var(--third);
}
header {
  background-color: var(--primary);
  text-align: center;
  color: var(--fourth);
}
nav {
  background-color: var(--fifth);
  padding-bottom:10px;
}
.nav-element {
  display: flex;
  background-color: var(--secondary);
  border-radius: 10px;
  margin: 10px 10px 0 10px;
  padding: 10px;
  border: 1px solid var(--primary);
}
.nav-element a {
  margin: 0 auto;
  color: white;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
h2{
  margin:0;
}
.article_header{
  background-color: var(--fourth);
  margin-top: 5px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px 15px 0 0;
}
.article_content{
  display:flex;
  flex-direction: column;
  background-color: var(--grey);
  border-radius: 0 0 15px 15px;
  padding:20px 20px 20px 20px;
}

.article_content p{
  color:white;
  margin:0;
}

.article_content li{
  color:white;
  margin:0;
}
footer{
  background-color: var(--primary);
  color:var(--third);
  text-align: center;
  padding:5px 0 5px 0;
}
/* section h2 {
  background-color: var(--fourth);
  margin: 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px 15px 0 0;
}
section article{
  background-color: var(--grey);
  border-radius: 15px 15px 15px 0;

} */
/* }
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: inherit;
}
.aside img {
  width: 100%;
  object-fit: cover;
}
.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
} */
/* <!-- <header class="header">YourAnimeWorld</header>

    <nav class="row">
      <div class="col-3 col-s-3 menu">
        <ul>
          <li>The Flight</li>
          <li>The City</li>
          <li>The Island</li>
          <li>The Food</li>
        </ul> -->
    <!-- <a href="#article1">1</a>
        <a href="#article2">2</a>
        <a href="#article3">3</a>
        <a href="#article4">4</a>
        <a href="https://www.crunchyroll.com"
          >Tutaj obejrzysz najnowsze anime</a
        > -->
    <!-- </div>
    </nav>

    <section>
      <article class="col-6 col-s-9">
        <h2>Najciekawsze kontynuacje kultowych serii w sezonie jesiennym!</h2>
        <p>
          Sezon jesienny daje nam wiele kontynuacji kultowych serii takich jak:
        </p>
        <li>Boku no Hero Academia</li>
        <li>Mob Psycho</li>
        <li>Bleach</li>
        <li>Spy x Familiy</li>
        <li>Fumetsu No Anata</li>
      </article>
      <article class="col-6 col-s-9">
        <h2>Najbardziej oczekiwana pozycja tego sezonu!</h2>
        <p>
          W tym sezonie niewątpliwe mamy wiele ciekawych pozycji ale na
          szczególne wyróżnienie zasługuje Chainsaw Man. Seria ta jest na tyle
          wyjątkowa, że pierwszy jak i drugi trailer miał rekordowe wyświetlenia
          w serwisie YouTube, kolejno 5.5m w niecale pól roku i 2.6m w 2 msc.
          Jest to dowodem na wielkie oczekiwania fanów. Premiera już 12
          Października.
        </p>
      </article>
      <article class="col-6 col-s-9">
        <h2>One Piece Film: Red oficjalnie w Polsce!</h2>
        <p>
          Świetna wiadomość dla polskich fanów One Piece'a. Pomimo, że premiera
          w japonii była już w sierpniu. Fajnie, że te filmy są w końcu
          wprowadzane w Polsce, bo zazwyczja trzeba bylo czekac nawet półtora
          roku, aż produkcje pojawią się na blue-rayu. Sieć Multikino
          poinformowała, wprowadzi ten film anime do swojej oferty.
          Zapowiedziano także seanse przedpremierowe - 3 listopada 2022 roku.
        </p>
      </article>
      <article class="col-6 col-s-9">
        <h2>Anime mogą inspirować.</h2>
        <p>
          Anime zapoczątkowało 3 z moich hobby.
          <li>Your Lie in April - gra na pianinie</li>
          <li>Haikyuu - gra w siatkówkę</li>
          <li>Shokugeki no Soma - zainteresowanie gotowaniem</li>
        </p>
      </article>
    </section>
    <aside class="aside"><img src="reklama.jpg" /></aside>
    <footer>Michał Zaborowski 06.10.2022 HTML+CSS</footer> --> */
